<form action={% url 'login'%}  method="POST">
    {% csrf_token %}
    {% if user.is_authenticated%}
    <h6>Hello {{user.email}}</h6>
    <a href={% url 'logout'%}>
        <input type="button" name="logout" value="Logout"><br>
    </a>

    {% elif request.path != '/accounts/register/' %}
    <label for="username">Email address:</label>
    <input type="text" name="username" value="" id="username"> <br />
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password"> <br />
    <input type="submit" value="Login" name="login" />
    <a href={% url 'register' %}>
        <input type="button" name="register" value="Register"> <br />
    </a>
    {% endif %}
</form>
