{% extends "layout.html"%}
{% block content %}
<form action={% url 'login'%}  method="POST">
    {% csrf_token %}
    <label for="username">Email address:</label>
    <input type="text" name="username" value="" id="username"> <br />
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password"> <br />
    <input type="submit" value="Login" name="login" />
    <input class="btn btn-primary" type="submit" value="Login" name="login" />
    <a href={% url 'password_reset' %}>
        <input class="btn btn-secondary"  type="button" name="password_reset" value="Reset Password"></a>
</form>
{% endblock %}
