{% extends 'layout.html' %}
{% load i18n %} 
{% block content %}
{% load static %}
{% load staticfiles %}
<div class="row" id="result">
<ul class="list-group col-12">
    <li class="list-group-item">{% blocktrans %}Your BMI{% endblocktrans %}</li>
    <li class="list-group-item"><b>{{bmi}}</b></li>
    <li class="list-group-item">{% blocktrans %}Your 10-year Atherosclerotic Cardiovascular Disease (including cardiac diseases and stroke) risk{% endblocktrans %}</li>
    <li class="list-group-item"><b>{{ascvd_risk}}%</b></li>
    {% if not is_dm %}
    <li class="list-group-item">{% blocktrans %}Your risk of diabetes{% endblocktrans %}</li>
    <li class="list-group-item"><b>{{dm_risk}}%</b></li>
    {% endif %}
    <li class="list-group-item"><b>{% blocktrans %}Login or Register to record your health {% endblocktrans %}</b></li>
    <li class="list-group-item">
        <a href={% url 'login' %}>
            <input class="btn btn-primary"  type="button" value="{% blocktrans %}Login{% endblocktrans %}">
        </a>
        <a href={% url 'register' %}>
            <input class="btn btn-secondary"  type="button" value="{% blocktrans %}Register{% endblocktrans %}">
        </a>
        
    </li>
</ul>
</div>

<div class="row" style="padding-top:20px">
<div class="col-12">
<form action=".", method="POST">
    {% csrf_token %}
    <div class="form-group row">
        <label for="age" class="col-md-1 col-form-label">{% blocktrans %}Age{% endblocktrans %}</label>
        <div class="col-md-3">
            <input type="number" min=0 required class="form-control" name="age" placeholder="Age (year)" id="age"/>
        </div>
        <label class="col-md-1 col-form-label" for="gender">{% blocktrans %}Gender{%endblocktrans%}</label>

    
        <div class="col-md-3">
        <select class="form-control" name="gender" id="gender">
            <option value=0>{% trans "Female" %}</option>
            <option value=1>{% blocktrans %}Male{% endblocktrans %}</option>
        </select>
        </div>
    <label class="col-md-1 col-form-label" for="race">{% blocktrans %}Race{% endblocktrans %}</label>
        <div class="col-md-3">
        <select class="form-control" name="race" id="race">
          <option value=0>{% blocktrans %}Other{% endblocktrans %}</option>
          <option value=1>{% blocktrans %}African American{% endblocktrans %}</option>
        </select>
        </div>
    </div>

    <div class="form-group row">
    <label for="weight" class="col-md-2 col-form-label">{% blocktrans %}Weight{% endblocktrans %}</label>
        <div class="col-md-4">
            <input type="number" min=0 required class="form-control" name="weight" placeholder="{% blocktrans %}Weight (kg){% endblocktrans %}" id="weight"/>
        </div>
    <label for="height" class="col-md-2 col-form-label">{% blocktrans %}Height{% endblocktrans %}</label>
        <div class="col-md-4">
            <input type="number" min=0 required class="form-control" name="height" placeholder="{% blocktrans %}Height (cm){% endblocktrans %}" id="height"/>
        </div>
    </div>

    <div class="form-group row">
    <label for="sbp" class="col-md-2 col-form-label">{% blocktrans %}SBP{% endblocktrans %}</label>
        <div class="col-md-4">
            <input type="number" min=0 required class="form-control" name="sbp" placeholder="{% blocktrans %}Systolic Blood Pressure (mmHg){% endblocktrans %}" id="sbp"/>
        </div>
    <label for="dbp" class="col-md-2 col-form-label">{% blocktrans %}DBP{% endblocktrans %}</label>
        <div class="col-md-4">
            <input type="number" min=0 required class="form-control" name="dbp" placeholder="{% blocktrans %}Diastolic Blood Pressure (mmHg){% endblocktrans %}" id="dbp"/>
        </div>
    </div>

    <div class="form-group row">
    <label for="tc" class="col-md-2 col-form-label">{% blocktrans %}Total Cholesterol{% endblocktrans %}</label>
        <div class="col-md-4">
            <input type="number" min=0 required class="form-control" name="tc" placeholder="{% blocktrans %}Total Cholesterol (mg/dL){% endblocktrans %}" id="tc"/>
        </div>
    <label for="hdl" class="col-md-2 col-form-label">{% blocktrans %}HDL-Cholesterol{% endblocktrans %}</label>
        <div class="col-md-4">
            <input type="number" min=0 required class="form-control" name="hdl" placeholder="{% blocktrans %}HDL-Cholesterol (mg/dL){% endblocktrans %}" id="hdl"/>
        </div>
    </div>

    <div class="form-group row">
    <label for="smoker" class="col-md-2 col-form-label">{% blocktrans %}Smoking Status{% endblocktrans %}</label>
        <div class="col-md-4">
            <select class="form-control" name="smoker">
                <option value="0">{% blocktrans %}Non-smoker{% endblocktrans %}</option>
                <option value="1">{% blocktrans %}Ex-smoker{% endblocktrans %}</option>
                <option value="2">{% blocktrans %}Current smoker{% endblocktrans %}</option>
            </select>
        </div>
    <label class="col-md-2 col-form-label" for="family_hx">{% blocktrans %}Family History{% endblocktrans %}</label>
        <div class="col-md-4">
            <select class="form-control" name="family_hx">
                <option value="0">{% blocktrans %}No diabetic 1st-degree relatives{% endblocktrans %}</option>
                <option value="1">{% blocktrans %}Parent or sibling with diabetes{% endblocktrans %}</option>
                <option value="2">{% blocktrans %}Parent and sibling with diabetes{% endblocktrans %}</option>
            </select>
        </div>

    <label for="is_dm" class="col-12 col-form-label">{% blocktrans %}Are you diagnosed with diabetes?{% endblocktrans %}</label>
        <div class="col-12">
            <select class="form-control" name="is_dm">
                <option value="0">{% blocktrans %}Not diagnosed with diabetes{% endblocktrans %}</option>
                <option value="1">{% blocktrans %}Already been diagnosed with diabetes{% endblocktrans %}</option>
            </select>
        </div>
    <label class="col-12 col-form-label" for="is_treated_htn">{% blocktrans %}Are you taking antihypertensive agents?{% endblocktrans %}</label>
        <div class="col-12">
        <select class="form-control" name="is_treated_htn" id="is_treated_htn">
          <option value=0>{% blocktrans %}Not taking any antihypertensive{% endblocktrans %}</option>
          <option value=1>{% blocktrans %}Currently taking antihypertensive{% endblocktrans %}</option>
        </select>
        </div>
    <label class="col-12 col-form-label" for="is_steroid">{% blocktrans %}Are you taking steroids?{% endblocktrans %}</label>
        <div class="col-12">
        <select class="form-control" name="is_steroid" id="is_steroid">
          <option value=0>{% blocktrans %}Not taking any steroids{% endblocktrans %}</option>
          <option value=1>{% blocktrans %}Currently taking steroids{% endblocktrans %}</option>
        </select>
        </div>
    </div>
    <input type="submit" name='sub' class="btn btn-primary">
</form>
</div>
<div class="row">
{% if user.is_active %}
    <div class="card col-12">
        <div class="card-header">
            <h4>{% blocktrans %}Your previous BMI{% endblocktrans %} </h4>
        </div>
        <div class="card-block">
            <canvas id="bmiChart"></canvas>
        </div>
    </div>
    <div class="card col-12">
        <div class="card-header">
            <h4>{% blocktrans %}Your previous blood pressure{% endblocktrans %}</h4>
        </div>
        <div class="card-block">
            <canvas id="bpChart"></canvas>
        </div>
    </div>
{% endif %}
</div>
<script src="{% static 'js/graph.js' %}"></script>
<!-- Material Design Bootstrap -->
<script>
    $(document).ready(function(){
        if ("{{user.is_active}}" == "True") {
            $('#age').val({{age}});
            $('#race').val({{race}});
            $('#gender').val({{gender}});
        };
        if ("{{bmi}}" == " "){
            console.log({{bmi}});
            $('#result').css("display", "None");
        };
    });

    var ctxBmi = document.getElementById('bmiChart').getContext('2d');
    var ctxBp = document.getElementById('bpChart').getContext('2d');
    var data = {{data | safe}};
    dataBmi = transformData(data, 'bmi');
    dataSBP = transformData(data, 'sbp');
    dataDBP = transformData(data, 'dbp');
drawLineChart(ctxBmi, [dataBmi], ["{% trans 'BMI' %}"], "BMI");
drawLineChart(ctxBp, [dataSBP, dataDBP], ["{% trans 'SBP' %}", "{% trans 'DBP' %}"], "BP");
</script>
{% endblock %}
