<nav class="fixed-top navbar navbar-dark bg-dark navbar-expand-md">
    <a class="navbar-brand text-center mr-auto" href='/calc' style="padding-right: 20px">CV & DM risk calculator</a>
    <button class='navbar-toggler' data-toggle="collapse" data-target="#navbarMenu">
        <span class='navbar-toggler-icon'></span>
    </button>
    <div id="navbarMenu" class="navbar-collapse bg-dark">
        {% if user.is_authenticated %}
        <span class="navbar-text text-center"> Hello, {{user.email}} </span>
        {% endif %}
        <ul class="navbar-nav list-group ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item list-group-item bg-dark" >
                <a href={% url 'logout' %} class="nav-link">Logout</a>
            </li>
            {% elif request.path != '/accounts/register/' %}
            <li class="nav-item list-group-item bg-dark">
                <a href={% url 'login' %} class="nav-link">Login</a>
            </li>
            <li class="nav-item list-group-item bg-dark">
                <a href={% url 'register' %} class="nav-link">Register</a>
            </li>
        </ul>
        {% endif %}
</div>
</nav>
